apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: ice
spec:
  source:
    dockerfile: |
        FROM ubi8 as builder
        WORKDIR /usr/src/intel-driver
        RUN curl -L -O "{{DRIVER_URL}}"
        RUN tar -xf *.tar.gz
        RUN find . -name '*.spec' | xargs -I {} sed -i 's/^%define need_aux_rpm.*/%define need_aux_rpm 0/' {}
        RUN filename=$(find . -name *.tar.gz); rm -f "${filename}"; ls -al; tar -czf "${filename}" $(find . -mindepth 1 -maxdepth 1 -type d)
        RUN ls -al
        RUN rm -Rf /etc/rhsm-host
        RUN yum install -y --enablerepo=rhel-8-for-x86_64-baseos-eus-rpms --releasever={{RELEASE_VER}} kernel-headers-$(uname -r) kernel-devel-$(uname -r)
        RUN yum install -y "@Development Tools" rpm-build
        RUN rpmbuild -tb $(find . -name *.tar.gz)
        RUN find /root/rpmbuild/RPMS/ -name *.rpm | xargs -I {} cp {} /usr/src/intel-driver/
        
        FROM registry.access.redhat.com/ubi8
        COPY --from=builder /usr/src/intel-driver/*.rpm /usr/src/
  strategy:
    type: Docker
    dockerStrategy:
      volumes:
      - name: etc-pki-entitlement
        mounts:
        - destinationPath: /etc/pki/entitlement
        source:
          type: Secret
          secret:
            secretName: etc-pki-entitlement
  triggers:
    - type: "ConfigChange"
  output:
    to:
      kind: ImageStreamTag
      name: ice:latest
